body{
    margin: 0%;
    padding: 0%;
}
.imgBg{
    display: flex;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.459)), url(..//assets/imagenes/MF-portada-terminada.jpg);
    background-position: center center;
    background-size: cover;
    height:85vh;
} 
.intro{
    padding-top: 70px;
    background: linear-gradient(0deg, rgba(34, 52, 151, 0.021), rgba(43, 51, 128, 0.404));

}